# Versions used to reproduce the ACS Catal. 2025 results (Python 3.10)
matplotlib==3.5.1
numpy==1.26.0
pandas==1.5.3
PyYAML==6.0.3
scipy==1.11.4
seaborn==0.13.2
python-copasi==4.44.295
# First copasi_helper commit with parallel DRC (drc_calc(..., cores=...)), which MicroKatc uses
CopasiHelper @ git+https://gitlab.com/dgarayr/copasi_helper.git@b9f26fe4f8e393cf0eab38d70c71adc37a61864a
